{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "standard"
    ],
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
      "semi": "warn"
    }
}
